<app-nav-bar></app-nav-bar>
<main>
  <div class="container">
<!--   measures-->
    <div class="row">
<!--  <div class="card border-primary mt-3" style="max-width: 18rem;">-->
<!--    <div class="card-header">Tədbirlər<a class="seeAllBirthday" href="#">Hamısı...</a></div>-->
<!--    <div class="card-body text-dark">-->
<!--      <p class="card-text cardTextFont">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--      <p class="card-text cardTextFont">Quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--      <p class="card-text cardTextFont">Example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--    </div>-->
<!--  </div>-->
<!--      news block 1-->
      <div class="" *ngFor="let n of news">
      <div class="card w-100 mt-3 ml-2">
        <div class="card-body">
          <img class="newsImg" src="#" height="100" width="150" />
          <h5 class="card-title">{{n.title}}</h5>
        </div>
      </div>
      </div>
<!--&lt;!&ndash;      command&ndash;&gt;-->
<!--      <div class="card border-primary mt-3 ml-4" style="max-width: 18rem;">-->
<!--        <div class="card-header">Qanunvericilik <a class="seeAllBirthday" href="#">Hamısı...</a></div>-->
<!--        <div class="card-body text-dark">-->
<!--          <p class="card-text cardTextFont"><i class="material-icons">-->
<!--            play_for_work-->
<!--          </i>Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--          <p class="card-text cardTextFont"><i class="material-icons">-->
<!--            play_for_work-->
<!--          </i>Quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--          <p class="card-text cardTextFont"><i class="material-icons">-->
<!--            play_for_work-->
<!--          </i>Example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;      birthday&ndash;&gt;-->
<!--      <div class="card border-primary mt-3" style="max-width: 18rem;">-->
<!--        <div class="card-header">Yaxınlaşan ad günləri-->
<!--          <a class="seeAllBirthday" href="#">Hamısı...</a></div>-->
<!--        <div class="card-body text-dark">-->
<!--          <img class="birthdayProfil rounded" src="assets/aminhasanov.jpeg" height="50" width="50">-->
<!--          <b class="card-text">Amin Hasanov</b>-<i>proqramchi</i>-->
<!--        </div>-->
<!--        <div class="card-body text-dark">-->
<!--          <img class="birthdayProfil rounded" src="assets/aminhasanov.jpeg" height="50" width="50">-->
<!--          <b class="card-text">Amin Hasanov</b>-<i>proqramchi</i>-->
<!--        </div>-->
<!--        <div class="card-body text-dark">-->
<!--          <img class="birthdayProfil rounded" src="assets/aminhasanov.jpeg" height="50" width="50">-->
<!--          <b class="card-text">Amin Hasanov</b>-<i>proqramchi</i>-->
<!--        </div>-->
<!--      </div>-->
<!--&lt;!&ndash;      users&ndash;&gt;-->
<!--      <div class="card border-primary mt-3 ml-4" style="max-width: 18rem;">-->
<!--        <div class="card-header">İstifadəçilər-->
<!--          <a class="seeAllBirthday" href="#">Hamısı...</a></div>-->
<!--        <div class="card-body text-dark">-->
<!--          <img class="birthdayProfil rounded" src="assets/aminhasanov.jpeg" height="50" width="50">-->
<!--          <b class="card-text">Amin Hasanov</b>-<i>proqramchi</i>-->
<!--        </div>-->
<!--        <div class="card-body text-dark">-->
<!--          <img class="birthdayProfil rounded" src="assets/aminhasanov.jpeg" height="50" width="50">-->
<!--          <b class="card-text">Amin Hasanov</b>-<i>proqramchi</i>-->
<!--        </div>-->
<!--        <div class="card-body text-dark">-->
<!--          <img class="birthdayProfil rounded" src="assets/aminhasanov.jpeg" height="50" width="50">-->
<!--          <b class="card-text">Amin Hasanov</b>-<i>proqramchi</i>-->
<!--        </div>-->
<!--      </div>-->


<!--&lt;!&ndash;advertisements&ndash;&gt;-->
<!--      <div class="card border-primary mt-3" style="max-width: 18rem;">-->
<!--        <div class="card-header">Elanlar-->
<!--          <a class="seeAllBirthday" href="#">Hamısı...</a></div>-->
<!--        <div class="card-body text-dark">-->
<!--          <p class="card-text cardTextFont">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--          <p class="card-text cardTextFont">Quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--          <p class="card-text cardTextFont">Example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        </div>-->
<!--      </div>-->

<!--&lt;!&ndash;      documents&ndash;&gt;-->
<!--      <div class="card border-primary mt-3 ml-4" style="max-width: 18rem;">-->
<!--        <div class="card-header">Sənədlər-->
<!--          <a class="seeAllBirthday" href="#">Hamısı...</a></div>-->
<!--        <div class="card-body text-dark">-->
<!--          <p class="card-text cardTextFont"><i class="material-icons">-->
<!--            play_for_work-->
<!--          </i>Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--          <p class="card-text cardTextFont"><i class="material-icons">-->
<!--            play_for_work-->
<!--          </i>Quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--          <p class="card-text cardTextFont"><i class="material-icons">-->
<!--            play_for_work-->
<!--          </i>Example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--        </div>-->
<!--      </div>-->

<!--&lt;!&ndash;activites&ndash;&gt;-->
<!--      <div class="activiteBox">-->
<!--      <div class="card-group activitesCard m-auto">-->
<!--        <div class="headerPost">Fəaliyyətlər-->
<!--          <a class="seeAll" href="#">Hamısı...</a>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <img class="card-img-top" src="assets/adra.jpeg" height="160" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <i class="material-icons" style="padding: 10px 10px 0 35px;">check</i>-->
<!--            <i class="material-icons" style="padding: 0 0 0 10px;">close</i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <img class="card-img-top" src="assets/adra.jpeg" height="160" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <i class="material-icons" style="padding: 10px 10px 0 35px;">check</i>-->
<!--            <i class="material-icons" style="padding: 0 0 0 10px;">close</i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <img class="card-img-top" src="assets/adra.jpeg" height="160" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <i class="material-icons" style="padding: 10px 10px 0 35px;">check</i>-->
<!--            <i class="material-icons" style="padding: 0 0 0 10px;">close</i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      </div>-->
<!--&lt;!&ndash;posts&ndash;&gt;-->
<!--      <div class="card-group w-100 mt-3">-->
<!--        <div class="headerPost">Paylaşımlar-->
<!--          <a class="seeAll" href="#">Hamısı...</a>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <img class="card-img-top" src="assets/adra.jpeg" height="250" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text postText">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>-->
<!--            <i class="material-icons likeIcon">thumb_up_alt</i>-->
<!--            <i class="material-icons dislikeIcon">thumb_down_alt</i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <img class="card-img-top" src="assets/adra.jpeg" height="250" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text postText">This card has supporting text below as a natural lead-in to additional content.</p>-->
<!--            <i class="material-icons likeIcon">thumb_up_alt</i>-->
<!--            <i class="material-icons dislikeIcon">thumb_down_alt</i>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="card">-->
<!--          <img class="card-img-top" src="assets/adra.jpeg" height="250" alt="Card image cap">-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">Card title</h5>-->
<!--            <p class="card-text postText">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>-->
<!--            <i class="material-icons likeIcon">thumb_up_alt</i>-->
<!--            <i class="material-icons dislikeIcon">thumb_down_alt</i>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
  </div>
  </div>
</main>
<br />
<app-footer></app-footer>
