<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <div class="card profileCard mt-3 mb-3" style="width: 18rem;">
      <img class="card-img-top" src="assets/aminhasanov.jpeg" height="300" alt="Card image cap">
      <div class="card-body">
        <p class="card-text text-center">Amin Hasanov</p>
      </div>
    </div>
  <ul class="list-group w-50 mt-5 ml-5">
    <li class="list-group-item">İdarə</li>
    <li class="list-group-item">Vəzifə</li>
    <li class="list-group-item">Sektor</li>
    <li class="list-group-item">Şöbə</li>
    <li class="list-group-item"><i class="material-icons mr-2" style="float: left;">email</i> a.a.hasanov@adra.gov.az</li>
    <li class="list-group-item"><i class="material-icons mr-2" style="float: left;">call</i>+994 77-556-24-21</li>
  </ul>
</div>
</div>
<app-footer></app-footer>
